.customButton{
    color: #33a0aa;
    background-color: #383838;
    padding: 10px 15px;
    border-radius: 0.4em;
    font-size: 14px;
    border: 1px solid teal;
    cursor: pointer;
    margin: 15px;
}