@import './components/UI/button/MyButton.module.scss';
@import './components//UI/input/MyInput.module.scss';
@import './components/Post/post.module.scss';
@import './pages/Wall/Wall.module.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


